@charset "UTF-8";
/* line 4, scss/front.scss */
.clearfix:after, .remodal2 .button-block:after {
  display: block;
  clear: both;
}

/*
 *	Reservation form
 */
/* line 13, scss/front.scss */
.reservation {
  text-align: left;
}
/* line 15, scss/front.scss */
.reservation dl {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 19, scss/front.scss */
.reservation dl:after {
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
  content: ".";
}
/* line 27, scss/front.scss */
.reservation dt {
  clear: both;
  width: 25%;
  float: left;
}
/* line 32, scss/front.scss */
.reservation dd {
  width: 70%;
  float: left;
  margin-left: 1%;
}
/* line 37, scss/front.scss */
.reservation dt, .reservation dd {
  margin-top: 0;
  padding: 10px 0 0 10px;
  border-top: 1px solid #ccc;
}
/* line 42, scss/front.scss */
.reservation input {
  margin-top: 10px;
  clear: both;
}

/* line 48, scss/front.scss */
.already_reserved {
  margin-left: 30px;
  padding: 3px 5px;
  background-color: #f00;
  color: #fff;
}

/* line 55, scss/front.scss */
.free {
  margin-left: 5px;
  padding: 3px 5px;
  background-color: #390;
  color: #fff;
}

/*
 * カレンダーエリア
 */
/* line 65, scss/front.scss */
.calender {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/*
 *	Page navi for history
 */
/* line 73, scss/front.scss */
.list_pagenavi {
  display: block;
  height: 1em;
}
/* line 76, scss/front.scss */
.list_pagenavi a {
  text-decoration: none;
}
/* line 79, scss/front.scss */
.list_pagenavi .prev_page {
  float: left;
  width: 20%;
}
/* line 83, scss/front.scss */
.list_pagenavi .next_page {
  float: right;
  width: 20%;
  text-align: right;
}
/* line 88, scss/front.scss */
.list_pagenavi .list_datenavi {
  text-align: center;
}
/* line 93, scss/front.scss */
.list_pagenavi .list_datenavi a {
  margin: auto 10px;
}

/*
 *	Calendar(日付移動用)
 */
/* line 101, scss/front.scss */
table.bk-calendar {
  width: 70%;
  margin: 40px auto 10px;
  border: none;
}
@media screen and (max-width: 680px) {
  /* line 101, scss/front.scss */
  table.bk-calendar {
    width: 100%;
  }
}
/* line 110, scss/front.scss */
table.bk-calendar th, table.bk-calendar td {
  padding: 5px 0 !important;
  text-align: center;
  background: transparent;
}
/* line 115, scss/front.scss */
table.bk-calendar td {
  height: 10px;
}
/* line 118, scss/front.scss */
table.bk-calendar td.sunday, table.bk-calendar td.sunday a {
  color: #c06;
}
/* line 121, scss/front.scss */
table.bk-calendar td.saturday, table.bk-calendar td.saturday a {
  color: #06c;
}
/* line 124, scss/front.scss */
table.bk-calendar td.monday, table.bk-calendar th.monday {
  border-left: none;
}
/* line 127, scss/front.scss */
table.bk-calendar td.sunday, table.bk-calendar th.sunday {
  border-right: none;
}
/* line 130, scss/front.scss */
table.bk-calendar td.today {
  background-color: #ffeecc;
}

/* line 135, scss/front.scss */
table.bk_calendar_weekly td .wmonth {
  font-size: x-small;
  color: #999;
}

/* line 140, scss/front.scss */
.back2day {
  font-size: x-small;
}

/* line 144, scss/front.scss */
.schedule-calender {
  width: 70%;
  margin: 15px auto 10px;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 151, scss/front.scss */
.schedule-calender.full-calender {
  width: 80%;
}
@media screen and (max-width: 680px) {
  /* line 144, scss/front.scss */
  .schedule-calender {
    width: 100%;
  }
  /* line 162, scss/front.scss */
  .schedule-calender.full-calender {
    width: 100%;
  }
}

/* line 169, scss/front.scss */
.column {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
 *スケジュールページ用
 */
/* line 178, scss/front.scss */
.select_schedule .list_datenavi {
  margin: 50px auto;
}

/* line 184, scss/front.scss */
.contents_schedule .list_pagenavi {
  margin: 2em auto;
}

/*
 * カテゴリ別カレンダー
 */
/* line 193, scss/front.scss */
table.schedule-cat {
  border: none;
}
/* line 195, scss/front.scss */
table.schedule-cat thead {
  font-size: 0.8em;
  border: none;
  border-bottom: 1px solid #666;
}
/* line 199, scss/front.scss */
table.schedule-cat thead th {
  background: transparent;
  text-align: center;
  border: none;
}
/* line 203, scss/front.scss */
table.schedule-cat thead th.date-head {
  width: 10%;
}
/* line 206, scss/front.scss */
table.schedule-cat thead th.time-head {
  width: 30%;
}
/* line 211, scss/front.scss */
table.schedule-cat tbody {
  border: none;
}
/* line 214, scss/front.scss */
table.schedule-cat tbody tr.sunday th {
  color: #c06;
}
/* line 217, scss/front.scss */
table.schedule-cat tbody tr.saturday th {
  color: #06c;
}
/* line 220, scss/front.scss */
table.schedule-cat tbody tr th {
  background: transparent;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-bottom: 2px solid #666;
}
/* line 226, scss/front.scss */
table.schedule-cat tbody tr th .date {
  font-size: 1.3em;
}
/* line 229, scss/front.scss */
table.schedule-cat tbody tr th .day {
  font-size: 0.7em;
}
/* line 233, scss/front.scss */
table.schedule-cat tbody tr td {
  text-align: center;
  vertical-align: middle;
  border: none;
  border-left: 2px solid #666;
  border-bottom: 2px solid #666;
}

/*
 *	Weekly schedule board
 */
/* line 254, scss/front.scss */
table.schedule {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  display: inline-block;
  table-layout: fixed;
  color: #727272;
  font-size: 0.8em;
}
/* line 269, scss/front.scss */
table.schedule.single thead th.date {
  border: 1px solid #bfbfbf;
  background: transparent;
  border-bottom: 1px solid #bfbfbf;
  padding: 15px 0;
  min-width: 160px !important;
}
@media screen and (max-width: 680px) {
  /* line 269, scss/front.scss */
  table.schedule.single thead th.date {
    min-width: 90px !important;
    padding: 10px 0;
  }
}
/* line 286, scss/front.scss */
table.schedule thead {
  border-bottom: 2px solid #bfbfbf;
}
/* line 288, scss/front.scss */
table.schedule thead th {
  margin: 0;
  padding: 0 10px;
  border: 1px solid #bfbfbf;
  background: transparent;
  text-align: center;
  vertical-align: middle;
}
/* line 296, scss/front.scss */
table.schedule thead th.times {
  background: transparent;
}
/* line 300, scss/front.scss */
table.schedule thead th.date {
  padding: 15px 0;
}
@media screen and (max-width: 680px) {
  /* line 300, scss/front.scss */
  table.schedule thead th.date {
    padding: 10px 0;
  }
}
/* line 308, scss/front.scss */
table.schedule thead th.date.sunday {
  color: red;
}
/* line 311, scss/front.scss */
table.schedule thead th.date.saturday {
  color: blue;
}
/* line 315, scss/front.scss */
table.schedule thead th.room-head {
  border: 1px solid #bfbfbf;
  background: transparent;
  border-bottom: 2px solid #bfbfbf;
  padding: 15px 0;
  min-width: 160px !important;
}
@media screen and (max-width: 680px) {
  /* line 315, scss/front.scss */
  table.schedule thead th.room-head {
    min-width: 88px !important;
    padding: 10px 0;
  }
}
/* line 335, scss/front.scss */
table.schedule thead th.date-head {
  background: transparent;
  border: none;
  border-right: 2px solid #bfbfbf;
  border-left: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
  padding: 15px 0;
}
/* line 352, scss/front.scss */
table.schedule tbody {
  border-bottom: 1px solid #bfbfbf;
}
/* line 354, scss/front.scss */
table.schedule tbody th {
  margin: 0;
  vertical-align: middle;
  padding: 0px 4px;
  border: 1px solid #bfbfbf;
  background: transparent;
}
/* line 363, scss/front.scss */
table.schedule tbody th .time {
  font-size: 0.9em;
}
@media screen and (max-width: 680px) {
  /* line 363, scss/front.scss */
  table.schedule tbody th .time {
    font-size: 0.8em;
  }
}
/* line 373, scss/front.scss */
table.schedule tbody td {
  margin: 0;
  padding: 0px 0px;
  border: none;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  font-size: 100%;
  line-height: initial;
}
@media screen and (max-width: 680px) {
  /* line 373, scss/front.scss */
  table.schedule tbody td {
    font-size: 80%;
  }
}
/* line 389, scss/front.scss */
table.schedule tbody td.s_row {
  padding: 5px 0;
}
/* line 398, scss/front.scss */
table.schedule tbody td.o-row {
  border-top: none;
}
/* line 402, scss/front.scss */
table.schedule tbody td.e-row {
  border-top: 1px solid #bfbfbf;
}
/* line 405, scss/front.scss */
table.schedule tbody td.self {
  background: #f8f8c7;
  color: #bc272d;
}
/* line 408, scss/front.scss */
table.schedule tbody td.self:hover {
  background: #f4f866;
}
/* line 411, scss/front.scss */
table.schedule tbody td.self a {
  color: #bc272d;
}
/* line 415, scss/front.scss */
table.schedule tbody td.open {
  background: #f8eaea;
  color: #bc272d;
}
/* line 418, scss/front.scss */
table.schedule tbody td.open:hover {
  background: #f8dfe4;
}
/* line 421, scss/front.scss */
table.schedule tbody td.open a {
  color: #bc272d;
}
/* line 425, scss/front.scss */
table.schedule tbody td.closed {
  background: transparent;
  color: #010101;
}
/* line 429, scss/front.scss */
table.schedule tbody td.many {
  background: #f8dbef;
  color: #bc272d;
}
/* line 432, scss/front.scss */
table.schedule tbody td.many:hover {
  background: #eccaf8;
}
/* line 435, scss/front.scss */
table.schedule tbody td.many a {
  color: #bc272d;
}
/* line 439, scss/front.scss */
table.schedule tbody td.limited {
  background: transparent;
  color: #010101;
}
/* line 442, scss/front.scss */
table.schedule tbody td.limited a {
  color: #010101;
}
/* line 447, scss/front.scss */
table.schedule tbody td.past {
  background: transparent;
  color: #010101;
}
/* line 450, scss/front.scss */
table.schedule tbody td.past a {
  color: #010101;
}
/* line 455, scss/front.scss */
table.schedule tbody td a {
  text-decoration: none;
}
/* line 457, scss/front.scss */
table.schedule tbody td a:link {
  text-decoration: none;
}
/* line 461, scss/front.scss */
table.schedule tbody td .td-line {
  margin-top: -2px;
  background: none;
  margin-bottom: 0em;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}
@media screen and (max-width: 680px) {
  /* line 461, scss/front.scss */
  table.schedule tbody td .td-line {
    font-size: 1.1em;
    margin-top: 0em;
    letter-spacing: 0em;
    margin-bottom: 0em;
  }
}
/* line 474, scss/front.scss */
table.schedule tbody td .td-line.td-line-top {
  margin-top: 0;
  background: none;
  margin-bottom: 0em;
}
@media screen and (max-width: 680px) {
  /* line 474, scss/front.scss */
  table.schedule tbody td .td-line.td-line-top {
    margin-top: 0em;
    margin-bottom: 0em;
  }
}

/*
 *	info box
 */
/* line 491, scss/front.scss */
.alert {
  clear: both;
  padding: 8px 35px 8px 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3 !important;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 504, scss/front.scss */
.alert,
.alert h4 {
  color: #c09853;
}

/* line 509, scss/front.scss */
.alert h4 {
  margin: 0;
}

/* line 513, scss/front.scss */
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

/* line 520, scss/front.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 526, scss/front.scss */
.alert-success h4 {
  color: #468847;
}

/* line 530, scss/front.scss */
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 537, scss/front.scss */
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

/* line 542, scss/front.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 548, scss/front.scss */
.alert-info h4 {
  color: #3a87ad;
}

/* line 552, scss/front.scss */
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

/* line 557, scss/front.scss */
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

/* line 562, scss/front.scss */
.alert-block p + p {
  margin-top: 5px;
}

/*
 *	Buttons
 */
/* These css button was generated by css-button-generator.com */
/* line 570, scss/front.scss */
.submit_btn {
  font-size: 16px;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 9px 18px;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  color: #777777;
  display: inline-block;
  text-shadow: 1px 1px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 1px 0px 0px #ffffff;
}

/* line 593, scss/front.scss */
.submit_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}

/* line 601, scss/front.scss */
.submit_btn:active {
  position: relative;
  top: 1px;
}

/* line 606, scss/front.scss */
.reserve_btn {
  font-size: 16px;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #337fed;
  padding: 9px 18px;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0));
  background: -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
  background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color: #3d94f6;
  color: #ffffff;
  display: inline-block;
  text-shadow: 1px 1px 0px #1570cd;
  -webkit-box-shadow: inset 1px 1px 0px 0px #97c4fe;
  -moz-box-shadow: inset 1px 1px 0px 0px #97c4fe;
  box-shadow: inset 1px 1px 0px 0px #97c4fe;
}

/* line 629, scss/front.scss */
.reserve_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6));
  background: -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
  background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color: #1e62d0;
}

/* line 637, scss/front.scss */
.reserve_btn:active {
  position: relative;
  top: 1px;
}

/* line 642, scss/front.scss */
.cancel_btn {
  font-size: 16px;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #d02718;
  padding: 9px 18px;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #c62d1f));
  background: -moz-linear-gradient(center top, #f24537 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color: #f24537;
  color: #ffffff;
  display: inline-block;
  text-shadow: 1px 1px 0px #810e05;
  -webkit-box-shadow: inset 1px 1px 0px 0px #f5978e;
  -moz-box-shadow: inset 1px 1px 0px 0px #f5978e;
  box-shadow: inset 1px 1px 0px 0px #f5978e;
}

/* line 665, scss/front.scss */
.cancel_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c62d1f), color-stop(100%, #f24537));
  background: -moz-linear-gradient(center top, #c62d1f 5%, #f24537 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color: #c62d1f;
}

/* line 673, scss/front.scss */
.cancel_btn:active {
  position: relative;
  top: 1px;
}

/* 動的スクロール表のヘッダ幅 */
/* line 679, scss/front.scss */
.fixed_header_display_none_at_print {
  width: 45px;
}

/* line 683, scss/front.scss */
#calender {
  margin-top: -80px;
  padding-top: 80px;
}

/*welcart 用css*/
/* line 693, scss/front.scss */
#memberinfo .point-link {
  float: right;
}

/* line 699, scss/front.scss */
.header_explanation p {
  margin-bottom: 6px;
}

/* line 706, scss/front.scss */
p.small {
  font-size: 0.9em;
}
/* line 709, scss/front.scss */
p.red {
  color: #D3222A;
}

/* line 717, scss/front.scss */
.member_submenu div {
  display: inline-block;
}

/* line 722, scss/front.scss */
.mo_text {
  display: none;
}

@media screen and (max-width: 680px) {
  /* line 727, scss/front.scss */
  .pc_text {
    display: none;
  }

  /* line 730, scss/front.scss */
  .mo_text {
    display: inline;
  }
}
/**
 * 予約フォーム
 */
/* line 741, scss/front.scss */
.reserve.remodal {
  letter-spacing: 0.1em;
}
@media screen and (max-width: 680px) {
  /* line 741, scss/front.scss */
  .reserve.remodal {
    padding: 20px;
    font-size: 1.2em;
  }
}
/* line 747, scss/front.scss */
.reserve.remodal table.reserve-main {
  margin: 10px auto 10px;
  width: 400px;
}
@media screen and (max-width: 680px) {
  /* line 747, scss/front.scss */
  .reserve.remodal table.reserve-main {
    width: 100%;
  }
}
/* line 754, scss/front.scss */
.reserve.remodal table.reserve-main thead {
  border: none;
}
/* line 756, scss/front.scss */
.reserve.remodal table.reserve-main thead .title {
  font-size: 1.5em;
  float: left;
}
/* line 761, scss/front.scss */
.reserve.remodal table.reserve-main thead .stars {
  text-align: right;
  float: right;
}
/* line 768, scss/front.scss */
.reserve.remodal table.reserve-main thead td {
  padding-bottom: 10px;
}
/* line 772, scss/front.scss */
.reserve.remodal table.reserve-main tbody {
  border-top: 2px solid #232323;
  border-bottom: 2px solid #232323;
}
@media screen and (max-width: 680px) {
  /* line 772, scss/front.scss */
  .reserve.remodal table.reserve-main tbody {
    border-top: 1px solid #232323;
    border-bottom: 1px solid #232323;
  }
}
/* line 780, scss/front.scss */
.reserve.remodal table.reserve-main tbody tr {
  border-bottom: 2px solid #232323;
}
@media screen and (max-width: 680px) {
  /* line 780, scss/front.scss */
  .reserve.remodal table.reserve-main tbody tr {
    border-bottom: 1px solid #232323;
  }
}
/* line 785, scss/front.scss */
.reserve.remodal table.reserve-main tbody tr td {
  padding: 3px 4px;
  vertical-align: middle;
}
@media screen and (max-width: 680px) {
  /* line 785, scss/front.scss */
  .reserve.remodal table.reserve-main tbody tr td {
    padding: 5px 0px;
  }
}
/* line 791, scss/front.scss */
.reserve.remodal table.reserve-main tbody tr td.td-point {
  border-left: 2px solid #232323;
  text-align: center;
}
@media screen and (max-width: 680px) {
  /* line 791, scss/front.scss */
  .reserve.remodal table.reserve-main tbody tr td.td-point {
    border-left: 1px solid #232323;
  }
}
/* line 798, scss/front.scss */
.reserve.remodal table.reserve-main tbody tr td .use-point {
  font-size: 2.3em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}
@media screen and (max-width: 680px) {
  /* line 798, scss/front.scss */
  .reserve.remodal table.reserve-main tbody tr td .use-point {
    padding-bottom: 5px;
    font-size: 2em;
  }
}
/* line 808, scss/front.scss */
.reserve.remodal table.reserve-main tbody tr td .free-text {
  font-size: 0.5em;
  padding-left: 3px;
}
/* line 812, scss/front.scss */
.reserve.remodal table.reserve-main tbody tr td .child-free {
  font-size: 0.5em;
  padding: 10px 0 0 3px;
  margin-bottom: -10px;
}
/* line 821, scss/front.scss */
.reserve.remodal select {
  height: 2em;
  line-height: 1em;
}
/* line 825, scss/front.scss */
.reserve.remodal .reserve-friend {
  width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  /* line 825, scss/front.scss */
  .reserve.remodal .reserve-friend {
    width: 100%;
  }
}
/* line 831, scss/front.scss */
.reserve.remodal .reserve-friend .friend-form {
  text-align: left;
}
/* line 834, scss/front.scss */
.reserve.remodal .reserve-friend .friend-form .head:before {
  content: "■";
  padding-right: 10px;
}
/* line 839, scss/front.scss */
.reserve.remodal .reserve-friend .friend-form .sub-head {
  margin-left: 10px;
  width: 6em;
  display: inline-block;
}
/* line 845, scss/front.scss */
.reserve.remodal .reserve-friend .friend-form .form-part {
  margin-bottom: 10px;
}
/* line 849, scss/front.scss */
.reserve.remodal .reserve-friend .dannatougei {
  margin: 1.5em auto;
  padding: 1em;
  border: 1px solid #808080;
  border-radius: 10px;
}
/* line 855, scss/front.scss */
.reserve.remodal .reserve-friend .dannatougei .form-control-wrap {
  display: block;
  padding: 1em;
  margin: 1em auto;
}
/* line 860, scss/front.scss */
.reserve.remodal .reserve-friend .dannatougei .text {
  text-align: left;
  line-height: 2em;
}
/* line 866, scss/front.scss */
.reserve.remodal .reserve-friend .oyakotougei {
  margin: 1.5em auto;
  padding: 1em;
  border: 1px solid #808080;
  border-radius: 10px;
}
/* line 871, scss/front.scss */
.reserve.remodal .reserve-friend .oyakotougei .form-control-wrap {
  display: block;
  padding: 1em;
  margin: 1em auto;
}
/* line 876, scss/front.scss */
.reserve.remodal .reserve-friend .oyakotougei .text {
  text-align: left;
  line-height: 2em;
}
/* line 881, scss/front.scss */
.reserve.remodal .reserve-friend .event1 {
  margin: 1.5em auto;
  padding: 1em;
  border: 1px solid #808080;
  border-radius: 10px;
}
/* line 886, scss/front.scss */
.reserve.remodal .reserve-friend .event1 .form-control-wrap {
  display: block;
  padding: 1em;
  margin: 1em auto;
}
/* line 891, scss/front.scss */
.reserve.remodal .reserve-friend .event1 .text {
  text-align: left;
  line-height: 2em;
}
/* line 896, scss/front.scss */
.reserve.remodal .reserve-friend input[type="text"], .reserve.remodal .reserve-friend input[type="email"], .reserve.remodal .reserve-friend input[type="tel"] {
  height: 2em;
  border: none;
  border-bottom: 1px solid #333;
  padding: 0 15px;
  line-height: 1em;
}
/* line 904, scss/front.scss */
.reserve.remodal .now-point {
  margin: 1px auto 13px;
}
/* line 906, scss/front.scss */
.reserve.remodal .now-point .my-point {
  font-size: 2em;
}
/* line 910, scss/front.scss */
.reserve.remodal .remodal-confirm {
  padding: 8px 0;
  min-width: 140px;
}
@media screen and (max-width: 680px) {
  /* line 910, scss/front.scss */
  .reserve.remodal .remodal-confirm {
    font-size: 1.2em;
    min-width: 45%;
    margin-right: 5%;
  }
}
/* line 919, scss/front.scss */
.reserve.remodal .remodal-cancel {
  padding: 8px 0;
  min-width: 140px;
}
@media screen and (max-width: 680px) {
  /* line 919, scss/front.scss */
  .reserve.remodal .remodal-cancel {
    font-size: 1.2em;
    min-width: 45%;
  }
}
/* line 927, scss/front.scss */
.reserve.remodal .yoga-taiken, .reserve.remodal .child-taiken {
  margin: 15px auto 0;
  width: 400px;
  text-align: left;
}
@media screen and (max-width: 680px) {
  /* line 927, scss/front.scss */
  .reserve.remodal .yoga-taiken, .reserve.remodal .child-taiken {
    width: 100%;
  }
}
/* line 934, scss/front.scss */
.reserve.remodal .yoga-taiken .form-part, .reserve.remodal .child-taiken .form-part {
  margin: 10px auto 0px;
}
/* line 937, scss/front.scss */
.reserve.remodal .yoga-taiken .form-part .head:before, .reserve.remodal .child-taiken .form-part .head:before {
  content: "■";
  padding-right: 10px;
}
/* line 942, scss/front.scss */
.reserve.remodal .yoga-taiken .form-part input[type="text"], .reserve.remodal .yoga-taiken .form-part input[type="email"], .reserve.remodal .yoga-taiken .form-part input[type="tel"], .reserve.remodal .child-taiken .form-part input[type="text"], .reserve.remodal .child-taiken .form-part input[type="email"], .reserve.remodal .child-taiken .form-part input[type="tel"] {
  height: 2em;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  padding: 0 15px;
  line-height: 1em;
}
/* line 951, scss/front.scss */
.reserve.remodal .yoga-taiken form .friend-form, .reserve.remodal .child-taiken form .friend-form {
  margin: 15px 0 0 0;
}
/* line 954, scss/front.scss */
.reserve.remodal .yoga-taiken form .friend-form .head:before, .reserve.remodal .child-taiken form .friend-form .head:before {
  content: "■";
  padding-right: 10px;
}
/* line 959, scss/front.scss */
.reserve.remodal .yoga-taiken form .friend-form .form-part, .reserve.remodal .child-taiken form .friend-form .form-part {
  padding: 0 15px 0 0;
}
/* line 961, scss/front.scss */
.reserve.remodal .yoga-taiken form .friend-form .form-part .sub-head, .reserve.remodal .child-taiken form .friend-form .form-part .sub-head {
  padding-left: 15px;
}
/* line 964, scss/front.scss */
.reserve.remodal .yoga-taiken form .friend-form .form-part input[type="text"], .reserve.remodal .yoga-taiken form .friend-form .form-part input[type="email"], .reserve.remodal .yoga-taiken form .friend-form .form-part input[type="tel"], .reserve.remodal .yoga-taiken form .friend-form .form-part select, .reserve.remodal .child-taiken form .friend-form .form-part input[type="text"], .reserve.remodal .child-taiken form .friend-form .form-part input[type="email"], .reserve.remodal .child-taiken form .friend-form .form-part input[type="tel"], .reserve.remodal .child-taiken form .friend-form .form-part select {
  margin-left: 15px;
}
/* line 972, scss/front.scss */
.reserve.remodal .yoga-taiken .btn_send, .reserve.remodal .child-taiken .btn_send {
  text-align: center;
  margin: 20px auto 0;
}
@media screen and (max-width: 680px) {
  /* line 972, scss/front.scss */
  .reserve.remodal .yoga-taiken .btn_send, .reserve.remodal .child-taiken .btn_send {
    width: 80%;
  }
}
/* line 978, scss/front.scss */
.reserve.remodal .yoga-taiken .btn_send .submit, .reserve.remodal .child-taiken .btn_send .submit {
  color: white;
  background: #81c784;
  border: none;
  transition: background 0.2s;
  width: 70%;
  padding: 16px 30px;
}
@media screen and (max-width: 680px) {
  /* line 978, scss/front.scss */
  .reserve.remodal .yoga-taiken .btn_send .submit, .reserve.remodal .child-taiken .btn_send .submit {
    width: 100%;
    padding: 10px 30px;
    font-size: 1.2em;
  }
}
/* line 990, scss/front.scss */
.reserve.remodal .yoga-taiken .btn_send .submit:hover, .reserve.remodal .child-taiken .btn_send .submit:hover {
  background: #66bb6a;
}
/* line 995, scss/front.scss */
.reserve.remodal .yoga-taiken .small-text, .reserve.remodal .child-taiken .small-text {
  margin-top: 15px;
  width: 400px;
  font-size: 0.8em;
}
@media screen and (max-width: 680px) {
  /* line 995, scss/front.scss */
  .reserve.remodal .yoga-taiken .small-text, .reserve.remodal .child-taiken .small-text {
    width: 100%;
  }
}
/* line 1004, scss/front.scss */
.reserve.remodal .yoga-taiken .text .big, .reserve.remodal .child-taiken .text .big {
  font-size: 1.2em;
}

/* line 1011, scss/front.scss */
.remodal2 {
  position: relative;
}
/* line 1013, scss/front.scss */
.remodal2 .button-block {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  /* line 1013, scss/front.scss */
  .remodal2 .button-block {
    width: 100%;
  }
}
/* line 1020, scss/front.scss */
.remodal2 .button-block .left-block {
  text-align: right;
  width: 50%;
  padding-right: 15px;
  float: left;
}
@media screen and (max-width: 680px) {
  /* line 1020, scss/front.scss */
  .remodal2 .button-block .left-block {
    width: 100%;
    padding-right: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}
/* line 1032, scss/front.scss */
.remodal2 .button-block .right-block {
  width: 50%;
  text-align: left;
  padding-left: 15px;
  float: left;
}
@media screen and (max-width: 680px) {
  /* line 1032, scss/front.scss */
  .remodal2 .button-block .right-block {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}
/* line 1047, scss/front.scss */
.remodal2 .button-block .remodal-cancel {
  margin-top: 20px;
}

/**
 * 予約キャンセルフォーム
 */
/* line 1056, scss/front.scss */
.remodal_cansel {
  letter-spacing: 0.1em;
}
/* line 1058, scss/front.scss */
.remodal_cansel .cansel_area {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}
@media screen and (max-width: 680px) {
  /* line 1058, scss/front.scss */
  .remodal_cansel .cansel_area {
    width: 100%;
  }
}
/* line 1065, scss/front.scss */
.remodal_cansel .cansel_area .title {
  margin-bottom: 10px;
}
/* line 1068, scss/front.scss */
.remodal_cansel .cansel_area .text {
  width: 90%;
  margin: 0 auto;
}
/* line 1071, scss/front.scss */
.remodal_cansel .cansel_area .text .return-point {
  text-align: center;
  color: #bc272d;
  margin: 5px 15px;
}
/* line 1077, scss/front.scss */
.remodal_cansel .cansel_area .comment {
  width: 90%;
  margin: 5px auto 0px;
}
@media screen and (max-width: 680px) {
  /* line 1077, scss/front.scss */
  .remodal_cansel .cansel_area .comment {
    margin: 5px auto 15px;
  }
}
/* line 1084, scss/front.scss */
.remodal_cansel .cansel_area .comment .head:before {
  content: "■";
  padding-right: 10px;
}
/* line 1089, scss/front.scss */
.remodal_cansel .cansel_area .comment textarea {
  border: 1px solid #333;
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
}

/**
 * fixed midashi の設定
 */
/**
 * ポインタの設定
 */
/* line 1110, scss/front.scss */
.popup {
  cursor: pointer;
}

/**
 * ヒストリーの設定
 */
/* line 1117, scss/front.scss */
div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}

/**
 * データテーブルの設定
 */
/* line 1126, scss/front.scss */
#memberinfo table {
  border: none;
}
/* line 1128, scss/front.scss */
#memberinfo table th {
  font-weight: bold;
  padding: 0;
  background: none;
  border: none;
}
/* line 1134, scss/front.scss */
#memberinfo table td {
  margin-bottom: 10px;
  padding: 0 0 5px;
  border: none;
  border-bottom: 1px solid #efefef;
}
/* line 1141, scss/front.scss */
#memberinfo #history_head th,
#memberinfo .retail th,
#memberinfo #history_head td,
#memberinfo .retail td {
  background: none;
  border: 1px solid #ddd;
}

/* -- .history-area -- */
/* line 1151, scss/front.scss */
#memberinfo .history-area table td.productname {
  text-align: center;
}

/* line 1157, scss/front.scss */
#memberinfo table#school_history, #memberinfo table#history_head {
  overflow: auto;
  border: 1px solid #ccc;
}
/* line 1161, scss/front.scss */
#memberinfo table#school_history th, #memberinfo table#history_head th {
  display: table-cell;
}
/* line 1164, scss/front.scss */
#memberinfo table#school_history td, #memberinfo table#history_head td {
  display: table-cell;
}

/* line 1171, scss/front.scss */
table.dataTable {
  margin: 0 !important;
}
/* line 1173, scss/front.scss */
table.dataTable thead th, table.dataTable tfoot th {
  text-align: center;
  font-weight: normal !important;
}

/* line 1180, scss/front.scss */
.history-school-area, .history-student-area {
  width: 100%;
  overflow-y: hidden !important;
}
/* line 1183, scss/front.scss */
.history-school-area h4, .history-student-area h4 {
  margin: 1em 0;
}
/* line 1186, scss/front.scss */
.history-school-area table, .history-student-area table {
  width: 100%;
}
/* line 1189, scss/front.scss */
.history-school-area table tr, .history-student-area table tr {
  height: auto;
}
/* line 1191, scss/front.scss */
.history-school-area table tr.bk-data, .history-student-area table tr.bk-data {
  cursor: pointer;
}
/* line 1195, scss/front.scss */
.history-school-area table th, .history-student-area table th {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  white-space: nowrap;
}
/* line 1204, scss/front.scss */
.history-school-area table td, .history-student-area table td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 1213, scss/front.scss */
.history-school-area table.history th.cat, .history-student-area table.history th.cat {
  font-size: 0.9em;
}
/* line 1216, scss/front.scss */
.history-school-area table.history th.point, .history-student-area table.history th.point {
  font-size: 0.8em;
}
/* line 1219, scss/front.scss */
.history-school-area table.history th.num, .history-student-area table.history th.num {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 1223, scss/front.scss */
.history-school-area table.history th.reserve, .history-student-area table.history th.reserve {
  font-size: 0.8em;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 1231, scss/front.scss */
.history-school-area .button-area, .history-student-area .button-area {
  margin: 10px 20px 20px 0;
}

/* line 1237, scss/front.scss */
.history-data th {
  letter-spacing: 0.1em;
}
/* line 1240, scss/front.scss */
.history-data .edit-school-scroll {
  overflow: auto;
  height: 400px;
}

/* line 1246, scss/front.scss */
#history-student-taiken {
  overflow: scroll;
}
/* line 1248, scss/front.scss */
#history-student-taiken input[type="button"] {
  height: 20px;
  padding: 10px 20px;
  line-height: 0px;
}

/* line 1255, scss/front.scss */
table#history_head {
  width: 100%;
}
/* line 1258, scss/front.scss */
table#history_head tr {
  height: auto;
}
/* line 1261, scss/front.scss */
table#history_head th {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  white-space: nowrap;
}
/* line 1270, scss/front.scss */
table#history_head td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1278, scss/front.scss */
table#school_history {
  width: 100%;
}
/* line 1281, scss/front.scss */
table#school_history tr {
  height: auto;
}
/* line 1284, scss/front.scss */
table#school_history th {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  white-space: nowrap;
}
/* line 1293, scss/front.scss */
table#school_history td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1301, scss/front.scss */
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: transparent;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
/* line 1310, scss/front.scss */
#loading .loadingMsg {
  text-align: center;
  width: 50px;
  height: 50px;
  background-image: url("/wordpress/wp-content/uploads/gif-load.gif");
  background-position: center top;
  background-repeat: no-repeat;
}

/* line 1323, scss/front.scss */
.search-area .block {
  float: left;
  margin-bottom: 5px;
}
