.hidden {
  display: none;
}

.ryt-autoimporter-gq-link-box {
  display: block;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 2em;
}

.ryt-autoimporter-gq-link-box p {
  font-size: 0.8em;
}

.ryt-autoimporter-gq-link-box p.ryt-autoimporter-gq-ask {
  font-size: 0.6em;
}

.ryt-autoimporter-gq-link-box a {
  background-color: #f33;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0.7em 2em;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

.ryt-autoimporter-gq-link-box a:visited { 
  color: #fff;
}

.ryt-autoimporter-gq-link-box a:active,
.ryt-autoimporter-gq-link-box a:hover {
  background-color: #faa;
  box-shadow: none;
  border-bottom: 0;
  color: #fff;
}

/*タブ切り替え全体のスタイル*/
.ryt-autoimporter-gq-tabs {
  margin-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100％;
  margin: 0 auto;
}

/*タブのスタイル*/
.ryt-autoimporter-gq-tabs .tab_item {
  width: calc(100%/4 - 1px);
  height: 30px;
  border-bottom: 1px solid #666;
  margin-right: 1px;  
  background-color: #666;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
}

.ryt-autoimporter-gq-tabs .tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
.ryt-autoimporter-gq-tabs input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.ryt-autoimporter-gq-tabs .tab_content {
  display: none;
  padding: 0 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
.ryt-autoimporter-gq-tabs #rss:checked ~ #rss_content,
.ryt-autoimporter-gq-tabs #youtube:checked ~ #youtube_content,
.ryt-autoimporter-gq-tabs #twitter:checked ~ #twitter_content,
.ryt-autoimporter-gq-tabs #instagram:checked ~ #instagram_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.ryt-autoimporter-gq-tabs input:checked + .tab_item {
  background-color: #0073aa;
  color: #fff;
}

.ryt-autoimporter-gq-tabs .fetch-items {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
}

.ryt-autoimporter-gq-tabs .fetch-items th {
  color: #444;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
}

.ryt-autoimporter-gq-tabs .fetch-items td {
  padding: 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.ryt-autoimporter-gq-tabs .fetch-items tr:nth-child(2n+1) td {
  background: #fff;
}

.ryt-autoimporter-gq-tabs .fetch-items tr td select {
  -webkit-appearance: none;
  width: calc(100% - 2px);
  text-align: center;
  margin: 0;
  padding: 3px 5px;
  line-height: 100%;
}
.ryt-autoimporter-gq-tabs .fetch-items tr td.ryq_center {
  text-align: center;
}

.ryt-autoimporter-gq-tabs .fetch-items tr:nth-child(2n) td select {
  background: #f1f1f1;
}

.ryt-autoimporter-gq-tabs .fetch-items th.narrow {
  width: 60px;
  white-space: nowrap;
}

.ryt-autoimporter-gq-tabs .fetch-items th.toolbox,
.ryt-autoimporter-gq-tabs .fetch-items td.toolbox {
  border-left: none;
  width: 15px;
}

.ryt-autoimporter-gq-tabs .fetch-items .toolbox .remove,
.ryt-autoimporter-gq-tabs .add-line {
  display: block;
  width:32px;
  height:32px;
  border:0;
  background-color: #666;
  border-radius:32px;
  margin:0;
  padding:0;
  transform:scale(0.5);
  cursor:pointer;
}

.ryt-autoimporter-gq-tabs .fetch-items .toolbox .remove:before,
.ryt-autoimporter-gq-tabs .add-line:before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-top:4px;
  margin-left:13px;
  width:6px;
  height:24px;
  border:0;
  padding:0;
  background-color: #fff;
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

.ryt-autoimporter-gq-tabs .add-line:after {
  content: "";
  display: block;
  position: absolute;
  margin-top:4px;
  margin-left:13px;
  width:6px;
  height:24px;
  border:0;
  padding:0;
  background-color: #fff;
}

.ryt-autoimporter-gq-tabs .fetch-items .toolbox .remove:hover,
.ryt-autoimporter-gq-tabs .add-line:hover {
  background-color: #ccc;
}

.ryt-autoimporter-gq-tabs .fetch-items .editbox {
  background-color: #f1f1f1;
  border: 0;
  margin: 0;
  display: block;
  width: calc(100% - 1px);
  height: 100%;
}

::placeholder {
  color: #aaa;
  font-style: italic;
}

.ryt-autoimporter-gq-tabs .fetch-items tr:nth-child(2n+1) td .editbox {
  background: #fff;
}

.form-table .ryt-autoimporter-gq-label {
  display: inline-block;
  width: 125px;
}

.ryt-autoimporter-gq-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ryt-autoimporter-gq-description .youtube-frame {
  display: block;
}
